.box-background {
  flex-basis: calc((100% - 60px) / 3);
}

.box-container {
  display: flex;
  column-gap: 30px;
}

.section-boxes {
  padding-bottom: 94px;
}

.boxes-list-img-wrapper {
  position: relative;
}

.overlay-main {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
