.features-container {
  display: flex;
  column-gap: 30px;
}

.features-background {
  flex-basis: calc((100% - 90px) / 4);
}

.title-features {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.text-features {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.icon-background {
  background-color: var(--primary-icon-background-color);
  width: 270px;
  height: 120px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
