footer {
  background-color: var(--secondary-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

address {
  margin-top: 20px;
}

.menu-footer__link-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu-footer__link-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.phone-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu-footer__map {
  margin-bottom: 9px;
}

.menu-footer__mail {
  margin-bottom: 9px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--secondary-icon-color);
  fill: currentColor;
  transition: background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-social-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
  text-transform: uppercase;
}

.page-footer-general {
  display: flex;
  align-items: baseline;
}

.page-footer-first {
  margin-right: 70px;
}
