.page-header {
  border: 1px solid var(--page-header-border);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  column-gap: 50px;
}

.address-nav {
  display: flex;
  align-items: center;
}

.menu__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition-dur-and-func);
  position: relative;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu__link.current {
  color: var(--accent-color);

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    top: 77px;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

.address-nav__mail-header {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  fill: currentColor;
  width: 100%;
  height: 100%;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address-nav__phone-header {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  fill: currentColor;
  width: 100%;
  height: 100%;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mail {
  margin-right: 50px;
}

.address-nav__envelope-header {
  margin-right: 10px;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.address-nav__smartphone-header {
  margin-right: 10px;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.menu a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.address-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
